*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

/* 当vue.js加载比较缓慢时，用来隐藏那些{{}}代码的 */
[v-cloak] {
    display: none !important;
}

.kano{
    background: pink;
}

.hanamaru{
    background: orange;
}

.nonono{
    background: azure;
}

.kohigashi{
    background:#373737;
}

.kohigashi-2{
    background: rgb(151, 209, 227);
}

.kohigashi-3{
    background: rgb(83, 119, 172);
}

.kohigashi-4{
    background: rgb(93, 194, 227);
}


li{
    list-style: none;
}

a{
    color: #777;
    text-decoration: none;
    cursor: pointer;
}

.main-nav{
    display: flex;
    align-items: center;
    background: #f8f8f8;
    border-bottom: 1px #e7e7e7 solid;
    padding: 7px 25px 0 25px;
}

.left-menu{
    display: flex;
    flex: 1;
    margin-left: 20px;
    /* 用align-items:center;没用是什么鬼 */
    padding-top: 3px;

}

.left-menu li{
    margin: 0 10px;
}

.left-menu img{
    height: 18px;
}

.content-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.voice-content{
    width: 100%;
    margin: 15px 0;
}

.voice-type{
    background: #dbdbdb;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    padding: 2px 0;
}

.voice-items{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.voice-items li div{
    color: #fff;
    border-radius: 15px;
    padding-left: 12px;
    padding-right: 12px;
    min-height: 30px;
    line-height: 30px;
    margin: 4px 4px;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.voice-items li img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ebebeb;
    padding: 5px 0;
}

.footer a{
    margin-left: 15px;
    color:#666;
    font-size: 14px;
}

.github-logo{
    position: relative;
    top: 3px;
    width: 15px;
}

.playing{
    background-color: #564ff7;
}

.paused{
    color: #564ff7 !important;
}

@keyframes myAnime{
    0%{
        background-color: #373737;
    }
    100%{
        background-color: #564ff7;
    }
}

.gradients{
    animation: myAnime .5s;
}