<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="./favicon.ico">
    <title>1107 小东人鱼</title>
</head>

<body>
    <div id="app">
        <audio id="player" ref="player"></audio>
        <nav class="main-nav">
            <a href="">
                {{currentLanguage === 'ch' ? '人鱼按钮' : 'ひとなボタン'}}
            </a>
            <ul class="left-menu">
                <li>
                    <a href="https://www.youtube.com/channel/UCV2m2UifDGr3ebjSnDv5rUA" target="_blank">
                        <img src="resource/img/youtube.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/kohigashihitona" target="_blank">
                        <img src="resource/img/twitter.png" alt="">
                    </a>
                </li>
            </ul>

            <ul class="right-menu">
                <li>
                    <a v-cloak @click="changeLanguage">{{currentLanguage === 'ch' ? '日本語' : '简体中文'}}</a>
                </li>
            </ul>
        </nav>
        <section class="content-container">
            <div class="voice-content" v-for="outer in voiceList">
                <div v-cloak class="voice-type kohigashi-4">{{currentLanguage === 'ch' ? outer.titleCh : outer.titleJp}}
                </div>
                <div>
                    <ul class="voice-items">
                        <li v-cloak v-for="item in outer.voice" @click="play(item.url)" :class="item.url === currentUrl ? ('kohigashi ' + itemStyle ) : 'kohigashi'">
                            {{currentLanguage === 'ch' ? item.desCh : item.desJp}}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <footer class="footer">
            <a href="https://space.bilibili.com/31049854?from=search&seid=8414213156499637597" target="_blank">
                {{currentLanguage === 'ch' ? '小东人鱼午安社制作' : '小東ひとな午安社より製作する'}}
            </a>
            <a href="https://github.com/WuAnShe/WuAnShe.github.io" target="_blank">
                <img class="github-logo" src="./resource/img/GitHub-Mark-32px.png" />
            </a>
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.common.prod.js"></script>
<script src="./mainfest.js"></script>
<script src="./js/main.js"></script>

</html>
