<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>1107 小东人鱼</title>
</head>

<body>
    <div id="app">
        <nav class="main-nav">

            <a href="#">
                人鱼按钮
            </a>
            <ul class="left-menu">
                <li>
                    <a href="https://www.youtube.com/channel/UCV2m2UifDGr3ebjSnDv5rUA">
                        <img src="resource/img/youtube.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/kohigashihitona">
                        <img src="resource/img/twitter.png" alt="">
                    </a>
                </li>
            </ul>

            <ul class="right-menu">
                <li>
                    <a @click="changeLanguage">{{currentLanguage === 'ch' ? '日本語' : '简体中文'}}</a>
                </li>
            </ul>
        </nav>


        <section class="content-container">
            <div class="voice-content">
                <div class="voice-type kano">Kano dayo</div>
                <div>
                    <ul class="voice-items">
                        <li v-for="item in voiceList" @click="play(item.url)">
                            {{currentLanguage === 'ch' ? item.desCh : item.desJp}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="voice-content">
                <div class="voice-type hanamaru">Hanamaru kita!</div>
                <div>
                    <ul class="voice-items">
                        <li v-for="item in voiceList" @click="play(item.url)">
                            {{currentLanguage === 'ch' ? item.desCh : item.desJp}}
                        </li>
                    </ul>
                </div>

            </div>
            <div class="voice-content">
                <div class="voice-type nonono">nonono desu~</div>
                <div>
                    <ul class="voice-items">
                        <li v-for="item in voiceList" @click="play(item.url)">
                            {{currentLanguage === 'ch' ? item.desCh : item.desJp}}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <footer class="footer">
            这里是footer
        </footer>
    </div>
</body>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            voiceList: [{
                desCh: 'bubu',
                desJp: 'ひとな',
                url: './resource/voices/bubu.wav'
            }, {
                desCh: 'bubu',
                desJp: 'ひとな２',
                url: './resource/voices/bubu.wav'
            }, {
                desCh: 'bubu',
                desJp: 'ひとな３',
                url: './resource/voices/bubu.wav'
            }],
            currentLanguage: 'ch'
        },
        methods: {
            play(url) {
                console.log(url);
                new Audio(url).play();
            },
            changeLanguage() {
                if (this.currentLanguage === 'ch') {
                    this.currentLanguage = 'jp';
                } else {
                    this.currentLanguage = 'ch';
                }
            }
        },
    });
</script>


</html>